
# NOTE: The build lifecycle on Travis.ci is something like this:
#    before_install
#    install
#    before_script
#    script
#    after_success or after_failure
#    after_script
#    OPTIONAL before_deploy
#    OPTIONAL deploy
#    OPTIONAL after_deploy

################################################################################

# Use ubuntu trusty (14.04) with sudo privileges.
dist: trusty
sudo: false
language: java
jdk:
  - oraclejdk8

cache:
  - $HOME/.m2

branches:
  except:
  - /^doc-.*$/

# Configuration variables.
env:
  global:
    - CI_SOURCE_PATH=$(pwd)
    - MAVEN_OPTS="-Xms512m -Xmx2048m -Xss16m"

################################################################################

script:
  - mvn -B -U clean verify
